<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bem-vindo ao QuickCMS</title>
  </head>
  <body>
    <h1>Bem-vindo ao QuickCMS!</h1>
    <p>
      Para acessar o painel de administração, faça o
      <a href="login">login</a>.
    </p>
  </body>
</html>
